.header {
    margin: 0 auto;
    width: 1400px;
    padding: 32px 10px 0px 0px;

}

.modal-footer {
    border-top: none;
}

.modal-content {
    min-width: 640px;
    height: 480px;
    background: #FFFFFF;
    border-radius: 4px;
    margin: 0 auto;
    margin-left: -72px;
}

.modal-header {
    border-bottom: none;

    h5 {
        width: 520px;
        padding-top: 41px;
        border-bottom: 1px solid #11B9ED;
        font-family: Roboto;
        margin-left: 40px;
        padding-bottom: 40px;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #11B9ED;
    }
}

.modal-body {
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;

    button {
        width: 240px;
        height: 56px;
        background: linear-gradient(138.32deg, #11B9ED 1.71%, #0073E6 98.67%);
        box-shadow: 0px 10px 24px rgba(3, 116, 150, 0.1), 0px 1.75302px 15px rgba(3, 116, 150, 0.0712618);
        border-radius: 100px;
        font-family: Roboto;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        border: none;
        text-align: center;
        margin-top: 41px;
        color: #FFFFFF;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            background-position: 240px;
    
        }
    }

    input {
        width: 426px;
        height: 56px;
        border: none;
        margin-top: 20px;
        background: #F0F7FB;
        padding: 10px 16px;
        font-family: Roboto;
        font-size: 16px;
        line-height: 19px;
        color: #025772;
        font-weight: normal;

        &::placeholder {
            font-family: Roboto;
            font-size: 16px;
            line-height: 19px;
            color: #025772;
            font-weight: normal;
        }
    }

}

.carousel-control-prev span svg:hover {
    opacity: 1;
}

dl,
ol,
ul {
    margin-bottom: 0px;
}

.carousel-indicators {
    bottom: 30px;

    li {
        cursor: pointer;
    }
}

.arrow-lang {
    transition: 0.2s;
}

.ukr-lang {
    cursor: pointer;
    margin: 0 auto;
    margin-top: 17px;
    padding-top: 13px;
    width: 92px;
    height: 43px;
    display: none;
    border-top: 1px solid #E9E9E9;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;

    &:hover {
        color: #11B9ED;
    }
}

.rus-lang {
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
        color: #11B9ED;
    }
}

.burger {
    display: none;
}

.search-mobile {
    display: none;
}

.overlay {
    width: 0;
    top: 0;
    position: absolute;
    z-index: 9999;
    left: 0;
    overflow-x: hidden;
    transition: 0.6s;
}

.overlay-content {
    z-index: 999;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    background: #f0f7fb;
}

@media (max-height: 557px) {
    .overlay-content {

        height: 556px;

    }
}

.overlay a {
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: 0.3s;
}

#burger-elem a {
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #202020;
}

#closeNavB {
    position: absolute;
    right: 30px;
    top: 30px;
}


.drop-menu-burger {
    display: none;
}

.open-menu {
    border: none;
    max-width: 414px;
    width: 90%;
    height: 50px;
    background: #11B9ED;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    svg {
        position: absolute;
        margin-left: 7px;
        margin-top: 1px;
    }

}

.burger {
    text-align: center;

}

header {
    width: 99.9%;
    height: 208px;
    position: relative;
    z-index: 2;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04), 0px 0px 10px -2px rgba(0, 0, 0, 0.02), 0px 4px 10px rgba(0, 0, 0, 0.02);
}

.header-top {
    padding-bottom: 36px;
    border-bottom: 6px solid #E9E9E9;

}

.head_contact {
    margin-left: 20px;
}

.head_address {
    margin-left: 20px;
}

.head_address span {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;

    &:hover {
        text-decoration-line: underline;
    }
}

.head_address p {
    font-style: normal;
    width: 240px;
    font-size: 13px;
    line-height: 20px;
    color: #202020;
}

.head_contact h5 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #202020;
}

.head_contact p {
    font-size: 13px;
    line-height: 18px;
    padding-left: 46px;

    color: #828282;
}

.head_contact {
    margin-right: 20px;
    margin-left: 60px;
}

.head_online button {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #11B9ED;
    width: 180px;
    height: 50px;
    border: 2px solid #11B9ED;
    background: transparent;
    box-sizing: border-box;
    transition: 0.3s ease;
    border-radius: 30px;
    cursor: pointer;
}

.head_online button:hover {
    color: white;
    background-color: #11B9ED;
}

.block_network svg {
    transition: 0.3s ease;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.block_network a {
    text-decoration-line: none;
}

// .block_network {
//     width: 100px !important;
// }

.svg_network {
    margin-right: 20px;
}

.head_online {
    margin-left: -80px;
}

.head-hr {
    position: absolute;
    width: 99.9%;
    top: 137px;
    left: 0;
    border: none;
    height: 1px;
    background: #E9E9E9;
}

.menu-items {
    list-style-type: none;
    width: 1574px;
    margin-left: -100px;
    padding: 18px 0px 17px;
    display: flex;
    justify-content: space-between;
}

.menu-items li a {
    text-decoration-line: none;
    color: #202020;
    transition: 0.3s ease;

    &:hover {
        color: #11B9ED;
    }
}

#menu-elem .pr-href {
    color: #202020;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
        color: #11B9ED;
    }
}

.menu-items li {
    text-align: center;
    width: 15%;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    text-transform: uppercase;
}

.menu-items .language svg {
    position: absolute;
    margin-top: -4px;
    margin-left: 10px;
}

.multiple-items {
    width: 90%;
}

.carousel-item img {
    object-fit: cover;
    width: 100vw;
    height: 750px;

}

.carousel-caption {
    top: 108px;
    text-align: left;
}

.carousel-caption h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 64px;

    color: #EB5757;
}

.carousel-caption h1 {
    font-weight: bold;
    font-size: 54px;
    line-height: 64px;

    color: #202020;
}

.carousel-caption p {
    margin-top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #333333;
}

.carousel-caption button {
    width: 240px;
    height: 56px;
    background-image: linear-gradient(138.32deg, #11B9ED 1.71%, #0073E6 98.67%), linear-gradient(84.09deg, #033D73 -51.13%, #11B9ED 102.09%);
    box-shadow: 0px 10px 24px rgba(3, 116, 150, 0.1), 0px 1.75302px 15px rgba(3, 116, 150, 0.0712618);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    margin-top: 48px;
    transition: 0.5s;

    &:hover {
        background-position: 240px;

    }
}

.logotip-svg {
    cursor: pointer;
}

.textbox {
    width: 620px;
}

.our-services {
    background: #F0F7FB;
    padding-top: 90px;
}

.add-elem {
    margin-right: 65px;
    margin-bottom: 38px;
}

.services-elem {
    transition: 0.3s ease;
    width: 390px;
    height: 295px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 30px;

    h4 {
        font-family: Roboto;
        margin-top: 20px;
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 21px;
        line-height: 30px;
        color: #11B9ED;

    }

    p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 21px;


        color: #535353;
    }
}

.services-elem:hover {
    cursor: pointer;
    background: linear-gradient(138.32deg, #11B9ED 1.71%, #0073E6 98.67%);
    box-shadow: 0px 14px 60px rgba(1, 25, 65, 0.15), 0px 6.20528px 29.9313px rgba(1, 25, 65, 0.14), 0px 1.47681px 7.12342px rgba(1, 25, 65, 0.115364), 0px 0.583932px 2.81661px rgba(1, 25, 65, 0.04);
}

.services-elem:hover h4 {
    color: white;
}

.services-elem:hover p {
    color: #D9DEE7;
}

.services-elem:hover .svg-icon {
    fill: white;
    
}

.services-elem:hover .eclipse-svg {
    fill: rgba(14, 157, 217, 0.8);
}

.text-services h3 {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 62px;
    color: #202020;
}

.text-services svg {
    margin-right: 15px;
}

.container-block {
    width: 70%;
    margin: 0 auto;
}

.block-our_services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

@media (max-width: 1859px) {
    .text-services {
        width: 70%;
    }

    .container-block {
        width: 1300px;
    }
}

@media (max-width: 1549px) {
    .menu-items {
        width: 100%;
        margin: 0 auto;
    }

    .header {

        width: 97%;
        padding: 32px 0px 0px 0px;

    }

    .head-hr {
        display: none;
    }
}

@media (max-width: 1430px) {

    header {
        width: 100%;
    }

    .add-elem {
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .container-block {
        width: 1230px;

    }
}

@media (max-width: 1330px) {
    header {
        height: 192px;
    }

    .menu-items {
        border-top: 6px solid #E9E9E9;
        margin: 0 auto;
    }

    .head_contact h5 {
        font-size: 17px;
    }

    .head_contact p {
        padding-left: 16px;
    }

    .logotip-svg {
        width: 370px;
    }

    .header-top {
        width: 100%;
        padding-bottom: 20px;
        border-bottom: none
    }
}

@media (max-width: 1290px) {
    .text-services {
        text-align: center;
        width: 97%;
    }

    .container-block {
        width: 99.7%;

    }

    .add-elem {
        margin-right: 30px;
        margin-bottom: 0px;
    }

    .services-elem {
        margin-bottom: 30px;
        width: 300px;
        height: auto;
        padding: 30px;
    }
}

@media (max-width: 1199px) {
    header {
        height: 245px;
    }

    .svg_network {
        margin-right: 10px;
    }

    .logotip-svg {
        width: 267.86px;
    }

    .head_online {

        margin-right: auto;
    }

    .head_contact {
        margin-left: 10px;
    }

    .block_network {

        margin-left: auto;

    }

    .header-top {
        padding-left: 40px;
        margin: 0 auto;
    }

    .head_online {
        margin-left: 0px;
    }
}

@media (max-width: 1123px) {
    .carousel-caption h3 {

        font-size: 30px;
        line-height: 54px;

    }

    .carousel-caption h1 {

        font-size: 40px;
        line-height: 54px;

    }

    .carousel-caption p {

        font-size: 13px;
        line-height: 19px;

    }

    .textbox {
        width: 400px;
    }
}

@media (max-width: 959px) {
    .header-top {
        padding-left: 20px;
        margin: 0 auto;
    }

    .add-elem {
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .services-elem {

        margin-bottom: 20px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (max-width: 828px) {
    header {
        height: auto;
    }

    .ukr-lang {
        text-align: center;
        margin: 0 auto;
        margin-top: 7px;
        padding-top: 3px;
        width: 92px;
        height: 23px;

        border-top: none;
        background: #FFFFFF;
        box-shadow: none;
    }
}

@media (max-width: 810px) {
    .modal-content {
        min-width: 300px;
        height: 400px;
        margin: 0 auto;
        margin-left: 0px;
    }

    .modal-header {
        border-bottom: none;
        h5 {
            width: 300px;
            padding-top: 31px;
            margin-left: 77px;
            padding-bottom: 26px;
            font-size: 30px;
            line-height: 32px;
        }
    }
    .modal-body {
        padding-top: 0px;
           button {
            margin-top: 29px;
        }

    }

    header {
        height: 260px;
    }

    .svg_network {
        margin-right: 5px;
    }

    .logotip-svg {
        width: 240px;
    }

    .head_contact h5 {
        font-size: 14px;
    }

    .head_contact p {
        font-size: 12px;
        padding-left: 0px;
    }
}

@media (max-width: 771px) {
    header {
        height: 289px;
    }
}

@media (max-width: 766px) {
    header {
        height: auto;
    }

    header {

        box-shadow: none;
    }

    .burger {
        display: block;
    }

    .menu-items {
        display: none;
    }

    .block_network {
        margin-left: 0px;
        width: 200px;
    }

}

@media (max-width: 640px) {
    .header-top {
        padding-right: 40px;
    }
}

@media (max-width: 575px) {
    .modal-content {
        min-width: 280px;
        max-width: 553px;
        height: 400px;
        margin: 0 auto;
        margin-left: 0px;
    }

    .modal-header {
        border-bottom: none;
        h5 {
            text-align: left;
            width: 250px;
            padding-top: 31px;
            margin-left: 20px;
            padding-bottom: 26px;
            font-size: 30px;
            line-height: 32px;
        }
    }
    .modal-body {
        padding-top: 0px;
        input{
            max-width: 300px;
        }
           button {
            margin-top: 29px;
        }

    }
    .header {
        padding-top: 10px;
    }

    .logotip-svg {
        width: 297px;
        margin-left: 36px;
    }

    .block_network {
        display: flex;
        margin-bottom: 10px;
    }

    .header div {
        text-align: center;
        justify-content: center;
    }

    .head_address p {
        margin: 0 auto;

    }

    .head_contact h5 {
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .head_address span:first-of-type {
        margin-left: -10px;
    }

    .svg_network {
        margin-right: 10px;
    }
}

@media (max-width: 553px) {
    .textbox {
        width: 330px;
    }
}

@media (max-width: 475px) {
    .logotip-svg {
        width: 265px;
        margin-left: 30px;
    }

    .carousel-control-next {
        right: 2px;
    }

    .carousel-caption {
        top: 50px;
        text-align: left;
    }

    .services-elem {
        width: 290px;
        margin-bottom: 20px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .text-services {
        text-align: center;
        width: 91%;
    }

    .textbox {
        width: 250px;
    }

    .carousel-caption h3 {

        font-size: 20px;
        line-height: 44px;

    }

    .carousel-caption h1 {

        font-size: 26px;
        line-height: 38px;

    }

    .carousel-item img {
        object-fit: cover;
        width: 100vw;
        height: 600px;

    }
}

@media (max-width: 397px) {
    .logotip-svg {
        width: 265px;

        margin-left: 18px;
    }
}

@media (max-width: 375px) {
    .modal-body {
        padding-top: 0px;
        input{
            max-width: 250px;
            height: 50px;
        }
           button {
            margin-top: 29px;
        }

    }
    .head_address p {

        width: 100%;
    }

    .header-top {
        padding-right: 10px;
        padding-left: 0px;
    }
}